# **Grafoak osatzeko, denbora leihoak eraikita**

Beharko ditugun liburutegiak:

In [1]:
from google.colab import drive
import pandas as pd
import csv

Instalatu beharrekoak:

In [ ]:
!pip install pandas

## **Datuak kargatzen**

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

## **CSV-a aldatu**

In [3]:
# BETH datu-multzoko taula bat kargatzen da.
taula1 = pd.read_csv('/content/drive/MyDrive/GrAL/DATUAK/labelled_2021may-ip-10-100-1-105.csv')

In [4]:
# Bikoiztutako datuak kontutan ez izateko:
t1 = taula1[['processId','parentProcessId']].drop_duplicates()

In [6]:
# Moldatutako csv-a gordetzeko:
t1.to_csv('taula1.csv')

## **Sortutako CSV-a zatitu, grafoak osatzeko**

In [8]:
# CSV-a errenkadaka irakurtzeko
with open('/content/taula1.csv',newline='') as f:
    r = csv.reader(f)
    data = [line for line in r]

Ondoren, kargatutako taula zatitzen da CSV txikiagoetan. Taula hauek, grafoak sortzeko erabiliko dira.

Grafoak sortzeko, Gephi tresna erabiliko da.

In [9]:
# TEILAKATZERIK GABE, 10naka
kont = 1
csv = []
unekoArraya = []
zenb = 1

for i in range(1, len(data)-1):
  unekoArraya.append([data[i][1], data[i][2]])
  kont = kont+1

  if (kont==11):
    kont=1
    string = str(zenb)
    zenb = zenb+1
    izen = 'taula1_' + string + '.xlsx'
    df = pd.DataFrame(unekoArraya, index=[0,1,2,3,4,5,6,7,8,9], columns=['source', 'target'])
    df.to_excel(izen)
    unekoArraya = []

In [10]:
# TEILAKATZEEKIN, 10naka
unekoArraya = []
zenb = 1
i = 5
max = len(data)-1

while i<=max-5:
  for j in range(4, -1, -1):
    unekoArraya.append([data[i-j][1], data[i-j][2]])

  for k in range(1,5+1):
    unekoArraya.append([data[i+k][1], data[i+k][2]])

  string = str(zenb)
  zenb = zenb+1
  izen = 'taula1_10teilakatuta_' + string + '.xlsx'
  df = pd.DataFrame(unekoArraya, index=[0,1,2,3,4,5,6,7,8,9], columns=['source', 'target'])
  df.to_excel(izen)
  unekoArraya = []

  i += 5

In [11]:
# TEILAKATZEEKIN, 20naka
unekoArraya = []
zenb = 1
i = 10
max = len(data)-1

while i<=max-10:
  for j in range(9, -1, -1):
    unekoArraya.append([data[i-j][1], data[i-j][2]])

  for k in range(1,10+1):
    unekoArraya.append([data[i+k][1], data[i+k][2]])

  string = str(zenb)
  zenb = zenb+1
  izen = 'taula1_20teilakatuta_' + string + '.xlsx'
  df = pd.DataFrame(unekoArraya, index=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19], columns=['source', 'target'])
  df.to_excel(izen)
  unekoArraya = []

  i += 10